.answer {
  background-color: white;
}

.answer-correct {
  background-color: green;
}

.answer-incorrect {
  background-color: red;
}

.hide-button {
  display: none;
}

.show-button {
  display: block;
}

