.header {
	align-items: center;
	background-color: #C4C4C4;
	display: flex;
	flex-direction: row;
	height: 10%;
	width: 100%;
}
.player {
	color: #000000;
	font-size: 26px;
	line-height: 30px;
}
.content-palyer {
	color: blueviolet;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 30%;
}
.img-avatar {
	border-radius: 100%;
	color: yellow;
	height: 50px;
	padding: 10px;
	width: 50px;
}
